<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_laundry"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fab_Bottom_app_bar"
        tools:targetApi="31">
        <activity
            android:name=".ui.product.CopyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.outlet.DetailOutletActivity"
            android:exported="false" />
        <activity
            android:name=".ui.employee.AttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.reg.UpdateOwnActivity"
            android:exported="false" />
        <activity
            android:name=".ui.camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.slider.InputBannerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.reg.RegFirstActivity"
            android:exported="false" />
        <activity
            android:name=".ui.otp.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.in_out.CashOutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.in_out.EdcInActivity"
            android:exported="false" />
        <activity
            android:name=".ui.in_out.TransferInActivity"
            android:exported="false" />
        <activity
            android:name=".ui.in_out.CashInActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cash.CashEdcActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cash.CashMerchantActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cash.CashBankActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cash.CashHandActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginEmpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.product.InputUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.outlet.InputOutletActivity"
            android:exported="false" />
        <activity
            android:name=".ui.outlet.OutletActivity"
            android:exported="false" />
        <activity
            android:name=".ui.employee.InputUpdateEmpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.employee.EmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.help.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.product.ProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.customer.CustomerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.PhoneActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.FirstActivity"
            android:exported="false" />
        <activity
            android:name=".ui.reg.OwnerRegActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Fab_Bottom_app_bar" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
    </application>

</manifest>